body {
  color: #e7dbc3;
  font-family: monospace;
  background-image: url("data/g3.gif");
  text-align: center;  
}
main {
  max-width: 80%;
  margin: auto;
  padding: 0.1%;
  background-color: #181818;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

a {
  text-decoration: none;
  transition: ease .2s;
  color: #d69949;
}

a:hover {
  color: gray;
}

p, li, code{
  font-size: 120%;
}

h1, h2, h3 {
  text-align: center;
  /* font-family: Georgia; */
}

h1 {
  color: #a0e49a;
}
h2 {
    color: #ea8f52;
}

code {
  background-color:rgb(30, 37, 31);
  color: #46ac46;
  padding: 3px;
  border-radius: 3px;

}
pre {
  color: #494949;
}
 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
table {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;

}
tr, td {
  padding: 8px;
  text-align: center;
}
.cryptocontainer {
  display: flex ;
  flex-wrap: wrap ;
  justify-content: center ;
}
.cryptoinfo {
  max-width: 350px ;
  text-align: center ;
  padding-left: 10px ;
  padding-right: 10px ;
}
.qr { max-width: 150px ; padding: 10px; border: none; }
.cryptoinfo code,.crypto {
	overflow-wrap: break-word ;
  font-size: 90%;
}
b {
    color: #e89dd7;
}
